<head>
  <!-- Outros links/metas -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<header>
    <img src="https://github.com/TheCryCia-2025/projeto-novo/blob/main/src/assets/logo.png?raw=true" alt="Logo SEMASPE" />
    <nav class="navegation">
      <a class="nav-pages" routerLink="/dashboard">Médicos</a>
      <a class="nav-pages" routerLink="/pacientes">Pacientes</a>
      <a class="nav-pages" routerLink="/sobre">Sobre</a>
      <a class="nav-pages" href="">Sair</a>
    </nav>
  </header>
  
  <main>
    <div class="section">
      <hr />
      <div class="metodos">
        <div class="filtrar">
          <label class="label">Pesquisar</label>
          <input type="text" placeholder="Pesquisar" [(ngModel)]="filtro" />
        </div>
        <div>
          <button routerLink="/adicionar-paciente" class="addAdicionar">+ Adicionar Paciente</button>

        </div>
      </div>
      <hr />
    </div>
  
    <div class="interation">
      <table class="tabela">
        <thead>
          <tr>
            <th id="codigo">Código</th>
            <th id="nome">Nome</th>
            <th id="descricao">Descrição</th>
            <th id="medico">Médico</th>
            <th id="opcoes">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of pacientesFiltrados">
            <td>{{ paciente.id }}</td>
            <td>{{ paciente.nome  }}</td>
            <td>{{ paciente.descricao }}</td>
            <td>{{ paciente.medico }}</td>
            <td id="edit-button">
              <button class="btn-editar">
                <i class="bi bi-pencil-square"></i> 
              </button>
              <button class="btn-excluir">
                <i class="bi bi-trash"></i> 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  