<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>
<body>
    <div class="container">

        <div class="login-form">
            <h2>Entrar</h2>
            <form>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Digite seu e-mail" > <!--required-->
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha" > <!--required-->
                </div>
                <div class="options">
                    <label class="remember">
                        <input type="checkbox" name="remember"> Lembrar-me
                    </label>
                    <a href="#">Esqueceu a senha?</a>
                  </div>

                <button type="submit" (click)='goToMenu()' >Login</button>
            </form>
        </div>

    </div>
</body>

</html>
